<div class="message voice-note-message" id="<%= dom_id(voice_note) %>">
  <figure class="avatar message__avatar">
    <%= avatar_tag voice_note.user %>
  </figure>

  <div class="message__body">
    <div class="message__body-content">
      <div class="message__meta">
        <h3 class="message__heading">
          <span class="message__author">
            <strong><%= voice_note.user.name %></strong>
          </span>
          <time class="message__timestamp" datetime="<%= voice_note.created_at.iso8601 %>">
            <%= voice_note.created_at.strftime("%l:%M %p") %>
          </time>
        </h3>
      </div>
      <div class="voice-note-player">
        <span class="voice-note-player__icon">🎤</span>
        <audio controls preload="metadata" class="voice-note-player__audio">
          <source src="<%= rails_blob_path(voice_note.audio, disposition: "inline") %>" type="<%= voice_note.audio.content_type %>">
          Your browser does not support audio playback.
        </audio>
      </div>
    </div>
  </div>
</div>
